/* width */
.myscroll::-webkit-scrollbar {
  width: 10px;
  scroll-margin: 500px 500px 500px 500px;
}
.myscroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.myscroll::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border-radius: 10px;
}
.myscroll::-webkit-scrollbar-thumb:hover {
  background: #8e8e8e;
}